.title-xl {
    font: 600 1.85rem 'Heebo', sans-serif;
    color: #292929;
    position: relative;
    text-align: center;
    span {
        color: #0d73fc;
    }
    @media (max-width: 990px) {
        font-size: 1.4rem;
    }
}

.title-sm {
    font: 500 1.4rem 'Heebo', sans-serif;
    color: #292929;
    position: relative;
    text-align: center;
    @media (max-width: 990px) {
        font-size: 1.2rem;
    }
}

.text-simple {
    color: #85898d;
    font: 300 1rem/24px 'Heebo', sans-serif;
    margin-bottom: 15px;
    @media (max-width: 990px) {
        font-size: .9rem;
    }
}