.brend-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 990px) {
        flex-direction: column;
    }
    img {
        margin: 0 10px;
        opacity: .7;
        @media (max-width: 990px) {
            margin: 10px 0;
        }
    }
}