.carrer-main{
    background: url(../img/gallery-1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    @media (max-width: 990px) {
        height: 300px;
    }
    .container {
        height: 100%;
    }
    .carrer-main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .title-xl {
            color: #fff;
            font: 500 4rem 'Heebo', sans-serif;
            @media (max-width: 990px) {
                font-size: 2rem;
            }
        }
    }
}

.carrer-second {
    background: url(../img/gallery-1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 300px;
    cursor: pointer;
    @media (max-width: 990px) {
        height: 200px;
    }
    .container {
        height: 100%;
    }
    .carrer-main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .title-xl {
            color: #fff;
            font: 500 2.5rem 'Heebo', sans-serif;
        }
    }
}

.accordeon {
    margin-bottom: 30px;
}

.carrer-send-modal {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    padding: 10px 20px;
    color: #fff;
    font: 500 1rem 'Heebo', sans-serif;
    border: none;
    width: 100px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    background: #1258b4;
    @media (max-width: 576px) {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    &:hover {
        background: #4d86d1; 
    }
}

.white-popup-block {
    position: relative;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    .title-sm {
        margin-bottom: 0;
        top: -25px;
        padding-bottom: 15px;
        // &::after {
        //     content: '';
        //     height: 1px;
        //     bottom: -5px;
        //     width: 108%;
        //     left: -4%;
        //     display: block;
        //     position: absolute;
        //     background: gray;
        // }
        @media (max-width: 990px) {
            top: 0;
            margin-bottom: 15px;
        }
    }
    form {
        width: 100%;
        position: relative;
        bottom: -15px;
        @media (max-width: 990px) {
            bottom: 0;
        }
    }
    .input-file-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 20px;
        .input-file-trigger {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1258b4;
            height: 65px;
            width: 120px;
            outline: none;
            cursor: pointer;
            &:hover {
                img {
                    transform: rotate(-25deg);
                }
            }
            @media (max-width: 990px) {
                height: 70px;
                width: auto;
            }
            img {
                transition: .3s;
                height: 25px;
            }
        }
        .label {
            font: 400 .95rem 'Raleway', sans-serif;
            color: #000;
            margin-bottom: 5px;
            text-align: left;
        }
    }
    .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
        }
        .back {
            font: 400 .95rem 'Raleway', sans-serif;
            color: rgb(145, 145, 145);
            margin-right: 20px;
            @media (max-width: 576px) {
                margin: 0 0 10px 0;
            }
        }
        .send {
            position: relative;
            z-index: 99;
            padding: 10px 30px;
            color: #fff;
            font: 500 1rem 'Heebo', sans-serif;
            border: none;
            transition: .3s;
            cursor: pointer;
            background: transparent;
            background:#0d73fc;
            @media (max-width: 576px) {
                width: 100%;
            }
            &:hover {
                background: #387dd8;
            }
        }
    }
}

