.review {
    background: #eff2f5;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        height: 100%;
        width: 40px;
        background: #0d73fc;
        position: absolute;
        left: 0;
        @media (max-width: 1400px) {
            display: none;
        }
    }
    &::after {
        content: '';
        height: 100%;
        width: 20px;
        background: #fff;
        position: absolute;
        left: 40px;
        z-index: 2;
        top: 0;
        @media (max-width: 1400px) {
            display: none;
        }
    }
}

.review-wrap {
    padding: 50px 0;
    .title-xl {
        text-align: left;
        padding-left: 70px;
        position: relative;
        margin-bottom: 30px;
        margin-left: 55px;
        @media (max-width: 1280px) {
            margin-left: 0;
        }
        @media (max-width: 576px) {
            padding: 0;
            margin-bottom: 15px;
        }
        &::before {
            content: '';
            background: #0d73fc;
            width: 60px;
            height: 60px;
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -20px;
            @media (max-width: 576px) {
                display: none;
            }
        }
        &::after {
            content: '“';
            color: #fff;
            font: 500 4.5rem 'Heebo', sans-serif;
            position: absolute;
            left: 0;
            top: 10px;
        }
    }
    .review-slider {
        max-width: 1026px;
        margin: 0 auto;
        .text-simple {
            font-size: 1.25rem;
            color: #333;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 25px;
            @media (max-width: 990px) {
                font-size: .95rem;
                line-height: 25px;
            }
        }
        .review-name {
            font-size: 1rem;
            color: #000;
            position: relative;
            padding-left: 50px;
            @media (max-width: 990px) {
                font-size: .95rem;
            }
            &::before {
                content: '';
                height: 2px;
                width: 40px;
                display: block;
                background:#0d73fc;
                position: absolute;
                left: 0;
                top: 10px;
            }
            span {
                color: #0d73fc;
            }
        }
    }
    .slick-dots {
        top: -70px;
        right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        height: 30px;
        @media (max-width: 990px) {
            align-items: flex-end;
            justify-content: center;
            top: auto;
            bottom: -40px;
            height: 30px;
        }
    }
    .slick-dots li button:before {
        font-size: 50px;
        color: #c7c7c7;
        opacity: 1;
        border-radius: 50%;
    }
    .slick-dots li {
        margin: 5px 0;
        margin-right: 15px;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #0d73fc;
        border: 2px solid #0d73fc;
        top: -3px;
    }
}