.map {
    iframe {
        width: 100%;
        height: 450px;
        @media (max-width: 990px) {
            height: 300px;
        }
    }
}

.contact-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
}

.contact-feedback {
    .contact-feedback-box {
        display: flex;
        position: relative;
        padding-left: 25px;
        align-items: center;
        margin-bottom: 25px;
    }
    i {
        height: 5px;
        width: 5px;
        color: #454545;
        opacity: .9;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 1px;
    }
    p {
        font: normal .95rem 'Work Sans', sans-serif;
        color: #454545;
        opacity: .9;
    }
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 8px;
        background: #fcfcfc;
        border: 1px solid rgb(192, 192, 192);
        font: 400 .87rem 'Work Sans', sans-serif;
    }
    button {
        background: #2e81ca;
        padding: 10px 15px;
        width: 180px;
        color: #fff;
        font: 600 1rem 'Work Sans', sans-serif;
        border: 1px solid #2e81ca;
    }
    textarea {
        grid-column-start: 1;
        grid-column-end: 4;
        height: 150px;
        @media (max-width: 990px) {
            grid-column-start: auto;
            grid-column-end: auto;
        }
    }
}

.map-2 {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media (max-width: 990px ){
            grid-template-columns: 1fr;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}


.contact-page-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    iframe {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
    }
    .contact-title {
        font: 500 1.5rem 'Heebo', sans-serif;
        color: #292929;
        margin-bottom: 15px;
        font-style: italic;
        color: #0d73fc;
        @media (max-width: 990px) {
            font-style: 1.35rem;
        }
    }
    .contact-item {
        font: 300 1.125rem 'Heebo', sans-serif;
        color: #000;
        margin-bottom: 10px;
        @media (max-width: 990px) {
            font-style: 1rem;
        }
    }
    .adress {
        font: 300 1.125rem 'Heebo', sans-serif;
        color: #f7a147;
        margin-top: 20px;
        @media (max-width: 990px) {
            font-style: 1rem;
        }
    }
}

.contact-bottom {
    .form-feedback {
        position: relative;
        padding: 40px 60px;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        box-shadow: 0 3px 15px 2px rgba(0,0,0,.05);
        max-width: 800px;
        margin: 0 auto;
        @media (max-width: 576px) {
           padding: 20px; 
        }
        .title-xl {
            text-align: left;
            margin-bottom: 20px;
        }
        .box-input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            @media (max-width: 576px) {
                grid-template-columns: 1fr;
            }
        }
        input {
            border: none;
            padding: 10px 0;
            border-bottom: 1px solid #e0e1e2;
            color: #000;
            font: 300 .9rem 'Heebo', sans-serif;
        }
        textarea {
            border: none;
            padding: 10px 0;
            border-bottom: 1px solid #e0e1e2;
            color: #000;
            font: 300 .9rem 'Heebo', sans-serif;
            height: 100px;
            margin-bottom: 10px;
        }
        button {
            position: relative;
            z-index: 99;
            padding: 10px 20px;
            color: #1258b4;
            font: 500 1rem 'Heebo', sans-serif;
            border: 1.5px solid #0d73fc;
            transition: .3s;
            width: 150px;
            cursor: pointer;
            background: transparent;
            @media (max-width: 990px) {
                width: 100%;
            }
            &:hover {
                color: #fff;
                background: #1258b4;
            }
        }
    }
}